/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Nov-2013, 10:33:09
    Author     : CODE&design
*/

body{
    width: 100%;
    height: 100%;
    
    background: rgba(200, 180, 150, 0.3);
    
    margin: 0;
    padding: 0;
    
    text-align: center;
}

.menu {
    height: 200px;
    
    position: relative;
    margin: 100px 0 0 300px;
    padding: 0;
}

.menu .item {
    width: 100px;
    height: 60px;
    
    float: left;
    pointer-events: relative;
    
    text-align: center;
    font-size: 1.3em;
}
.item p.icon {
    opacity: 0;
    width: 0;
    height: 0;
    
    margin-left: 50px;
}
.item img {
    width: 80px;
}

.item.red { background: red; }
.item.green { background: green; }
.item.blue { background: blue; }
.item.purple { background: purple; }
.item.yellow { background: yellow; }
