/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Nov-2013, 15:48:33
    Author     : CODE&design
*/


@media (max-width: 600px) {
    .content {
        width: 90%;
        
    }
    
    label {
        display: none;
    }
}
